# generic
.DS_Store
.fleet
.idea
.vscode
.zed

# node
/node_modules

# composer
/vendor

# environment files and secrets
/.env
/.secrets

# phpunit
/.phpunit.cache
/.phpunit.coverage
/.phpunit.result.cache

# php-cs-fixer
/.php-cs-fixer.cache

# temporary
/composer.lock
/package-lock.json
